//Breakpoints

$breakpoint-tablet: 768px;
$breakpoint-tablet-horizontal: 1024px;
$breakpoint-desktop: 1200px;
$breakpoint-desktopxl: 1440px;

//Tipografia

$font-heading: "Big Shoulders", sans-serif;
$font-body: "Outfit", san-serif; 

//Colors

$color-gold: #D5966C;
$color-dark: #151515;
$color-gray: #444444;
$color-white: #FFFFFF;
$color-black: black;

// Espaciados 

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 40px;
$cta-height: 484px;
$cta-height-desktop: 640px;
