
// COLORES

$color-gold: #d5966c;   
$color-dark: #151515;   
$color-gray: #444444;   
$color-white: #ffffff;


// TIPOGRAFÍA

$font-heading: "Big Shoulders", sans-serif;  
$font-body: "Outfit", sans-serif;            

$fw-light: 300;
$fw-regular: 400;
$fw-black: 900;


// ESPACIADOS

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 40px;

$cta-height: 484px;


// BREAKPOINTS (mobile-first: se aplican DESDE este ancho)

$breakpoints: (
  tablet: 768px,
  laptop: 1024px,
  desktop: 1200px,
  wide: 1440px,
);