@use '../abstracts' as *;



.hero {
   position: relative;

    &__image {
        width: 100%;
        height: auto;
        display: block;

    }

    &__content {
        padding: $spacing-md $spacing-md;
        background-color: $color-white;
         
    }

    &__title {
        margin-bottom: $spacing-lg;
        font-size: 50px;
        line-height: 1;

    }

    &__text {
        font-size: 28px;
        line-height: 1.6;
        color: $color-gray;
        margin-bottom: $spacing-lg;

    }

  @include breakpoint (tablet) {

    &__image {

        img {
        width: 65%;
        height: 660px; 
        object-fit: cover;
      }
    }

    &__content {

        position: absolute;
        top: 0;
        right: 0;
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: $spacing-xl;
        background-color: transparent; 
    }

    &__title {
      font-size: 60px;
      line-height: 70px;
      color: $color-dark; 
    }

    &__text {
        font-size: 22px; 
        line-height: 25px;
        color: $color-dark; 
    }
  }



    @include breakpoint (desktop) {

    & {
        display: grid;
        grid-template-columns: 35% 40% 25%;
        height: 700px;
        overflow: hidden;
    }

    &__image {
        grid-column: 2;
        grid-row: 1;
        height: 680px;      
        position: relative;
        overflow: hidden;

      img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
    }

    &__content {
        display: contents;
    }

    &__title {
        grid-column: 1;
        grid-row: 1;
        height: 680px;
        background-color: $color-dark;  
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        overflow: visible;               
        color: $color-white;
        font-size: 76px;
        line-height: 1.05;
        padding: 165px $spacing-lg 0;
        text-align: left;

    &-text {
        position: relative;      
        left: 152px;             
        white-space: nowrap;
        display: block;
        }
    }


    &__text {
        grid-column: 2 / 4;
        grid-row: 1;
        align-self: start;
        justify-self: end;
        max-width: 340px;
        margin-top: 120px;
        color: $color-dark;
        font-size: 30px;
        line-height: 1.3;
        transform: translateX(-100px);
     }

    .btn {
        grid-column: 3;
        grid-row: 1;
        align-self: start;
        justify-self: start;
        margin-top: 360px;
        transform: translateX(-81px);
      }

    }
}