@use '../abstracts' as *;



.cta-section {
    background-color: $color-dark;
    color: $color-white;
    padding: $spacing-xl $spacing-lg;
    margin-bottom: 90px;

    &__title {
        color: $color-white;
        margin-bottom: $spacing-lg;
         font-size: 64px;

    }

    &__text {
        font-size: 34px;
        line-height: 1.2;
        color: $color-white;
        opacity: 0.8;

    }

    @include breakpoint (tablet) {
        padding: $spacing-xl $spacing-lg;
        width: calc(50% - #{$spacing-md} - #{$spacing-sm});
        margin-left: calc(50% + #{$spacing-sm});
        margin-top: -530px;
        height: 489px;
        position: relative;
        z-index: 1;
}

    @include breakpoint (desktop) {

        
    }
}