@use '../abstracts' as *;


.gallery-preview {
  display: flex;
  flex-direction: column;
  padding: $spacing-xl $spacing-md;

  &__content {
    margin-bottom: $spacing-lg;
  }

  &__title {
    margin-bottom: $spacing-md;
    margin-top: $spacing-lg;
    font-size: 44px;

    &-break {
    display: none;

    &--1 {
      display: inline; 
    }
  }

  }

  &__text {
    font-size: 22px;
    line-height: 1.6;
    color: $color-gray;
  }

  &__grid {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }

  &__image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
  }

  @include breakpoint(tablet) {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: $spacing-lg;

    &__content {
        order: 1;
        width:  calc(40% - #{$spacing-lg} / 2);
        margin-bottom: 0;

    }

    &__image--main {
        order: 2;
        width: calc(60% - #{$spacing-lg} / 2);

        img {
            width: 100%;
            height: 550px;
            object-fit: cover;
        }

    }
    &__grid {
        order: 3;
        width: 100%;
        margin-top: $spacing-sm;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px $cta-height;
        gap: $spacing-md;


    .gallery-preview__image:first-child {
        grid-row: span 2;
        img {
        height: 100%; 
  }

}

    .gallery-preview__image:last-child img {
        height: 300px;
        width: 100%;
        object-fit: cover;
}

}

 &__image img {
      width: 100%;
      object-fit: cover;
      display: block;
    }

    &__title {
        font-size: 60px;
        line-height: 59px;
    
    &-break {
        display: none;

    &--1 {
        display: inline; 
    }
  }

    }

    &__text {
        font-size: 35px;
        line-height: 1.4;
    }
    
  

  }
    @include breakpoint(desktop) {
        
    &-break {
      &--1 { display: none; }   
      &--2 { display: inline; } 
    }
  


    &__title {
        font-size: 75px;
        line-height: 1.1;


    }

    &__text {
        font-size: 45px;
        line-height: 1.3;
    }

  }

}