@use "../abstracts" as *;


.footer {
  display: flex;
  flex-direction: column;
  gap: rem(24px);
  padding: rem(40px) rem(24px);

 
  @include breakpoint(tablet) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: rem(40px);
    padding: rem(56px) rem(40px);
  }

  @include breakpoint(desktop) {
    padding-inline: rem(96px);
  }

  &__logo {
    @extend %heading-style;
    flex-shrink: 0;
    font-size: rem(30px);
    line-height: 1;

    @include breakpoint(desktop) {
      font-size: rem(36px);
    }
  }

  &__text {
    max-width: rem(500px);
    font-size: rem(18px);
    line-height: 1.4;

    @include breakpoint(tablet) {
      flex: 1;
      font-size: rem(20px);
    }
  }

  &__social {
    flex-shrink: 0;
  }

 
  &--dark {
    background-color: $color-dark;
    color: $color-white;
  }

  &--light {
    background-color: $color-gold;
    color: $color-dark;
  }
}